body {
  font-family: "Tahoma", sans-serif;
  background: url("../images/DSC_0694.jpg") center/cover no-repeat fixed;
  margin: 0;
  padding: 0;
}

header {
  background: #003366; /* น้ำเงินเข้ม */
  color: #FFD700;      /* เหลือง */
  padding: 15px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 24px;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

/* ===== ฟอร์ม ===== */
.form-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  border: 2px solid #001eff; /* ขอบเหลือง */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #003366; /* น้ำเงิน */
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

/* ===== ปุ่ม ===== */
button,
.submit-btn {
  background-color: #FFD700; /* เหลือง */
  color: #003366;            /* น้ำเงิน */
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

button:hover,
.submit-btn:hover {
  transform: scale(1.05);
  background-color: #003366; /* น้ำเงิน */
  color: #FFD700;            /* เหลือง */
}

/* ===== ตาราง ===== */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #0a0000;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #003366; /* น้ำเงิน */
  color: #FFD700;            /* เหลือง */
}

tr/*:nth-child(even)*/ {
  background-color: #c7d493;
}

tr:hover {
  background-color: #fffacd; /* เหลืองอ่อน */
}

/* ===== รูปกิจกรรม ===== */
img.activity-img {
  max-width: 80px;
  border-radius: 6px;
  border: 1px solid #FFD700; /* ขอบเหลือง */
  cursor: pointer;
  transition: transform 0.2s;
}

img.activity-img:hover {
  transform: scale(1.05);
}

/* ===== popup รูป ===== */
#imagePopup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

#imagePopup img {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 0 0 20px #FFD700; /* เงาเหลือง */
}

/* ===== ข้อความแจ้งเตือน ===== */
#msg {
  color: #f6ee05; /* น้ำเงิน */
  font-weight: bold;
}

/* ===== ปุ่มรีเซ็ต ===== */
.reset-btn {
  background-color: #cc0000;
  margin-top: 15px;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #ff3333;
}

/* ===== footer ===== */
footer {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #003366; /* น้ำเงิน */
  color: #FFD700;            /* เหลือง */
}

a {
  color: #FFD700; /* ลิงก์เหลือง */
  text-decoration: none;
}
